<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jrd.graduationproject.shoppingplatform.dao.mybatis.ShopCarMapper" >
  <resultMap id="BaseResultMap" type="jrd.graduationproject.shoppingplatform.pojo.po.ShopCar" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="createdate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="warenum" property="warenum" jdbcType="INTEGER" />
    <result column="userid" property="user" jdbcType="VARCHAR" typeHandler="jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler" />
    <result column="wareid" property="ware" jdbcType="VARCHAR" typeHandler="jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.userCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler} and #{criterion.secondValue,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.wareCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler} and #{criterion.secondValue,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.userCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler} and #{criterion.secondValue,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.wareCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler} and #{criterion.secondValue,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, createdate, warenum, userid, wareid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="jrd.graduationproject.shoppingplatform.pojo.po.ShopCarExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `t_shopcar`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from `t_shopcar`
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from `t_shopcar`
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="jrd.graduationproject.shoppingplatform.pojo.po.ShopCarExample" >
    delete from `t_shopcar`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="jrd.graduationproject.shoppingplatform.pojo.po.ShopCar" >
    insert into `t_shopcar` (id, createdate, warenum, 
      userid, 
      wareid
      )
    values (#{id,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, #{warenum,jdbcType=INTEGER}, 
      #{user,jdbcType=VARCHAR,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler}, 
      #{ware,jdbcType=VARCHAR,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler}
      )
  </insert>
  <insert id="insertSelective" parameterType="jrd.graduationproject.shoppingplatform.pojo.po.ShopCar" >
    insert into `t_shopcar`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
      <if test="warenum != null" >
        warenum,
      </if>
      <if test="user != null" >
        userid,
      </if>
      <if test="ware != null" >
        wareid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="warenum != null" >
        #{warenum,jdbcType=INTEGER},
      </if>
      <if test="user != null" >
        #{user,jdbcType=VARCHAR,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler},
      </if>
      <if test="ware != null" >
        #{ware,jdbcType=VARCHAR,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="jrd.graduationproject.shoppingplatform.pojo.po.ShopCarExample" resultType="java.lang.Integer" >
    select count(*) from `t_shopcar`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update `t_shopcar`
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        createdate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.warenum != null" >
        warenum = #{record.warenum,jdbcType=INTEGER},
      </if>
      <if test="record.user != null" >
        userid = #{record.user,jdbcType=VARCHAR,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler},
      </if>
      <if test="record.ware != null" >
        wareid = #{record.ware,jdbcType=VARCHAR,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update `t_shopcar`
    set id = #{record.id,jdbcType=VARCHAR},
      createdate = #{record.createdate,jdbcType=TIMESTAMP},
      warenum = #{record.warenum,jdbcType=INTEGER},
      userid = #{record.user,jdbcType=VARCHAR,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler},
      wareid = #{record.ware,jdbcType=VARCHAR,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="jrd.graduationproject.shoppingplatform.pojo.po.ShopCar" >
    update `t_shopcar`
    <set >
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="warenum != null" >
        warenum = #{warenum,jdbcType=INTEGER},
      </if>
      <if test="user != null" >
        userid = #{user,jdbcType=VARCHAR,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler},
      </if>
      <if test="ware != null" >
        wareid = #{ware,jdbcType=VARCHAR,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="jrd.graduationproject.shoppingplatform.pojo.po.ShopCar" >
    update `t_shopcar`
    set createdate = #{createdate,jdbcType=TIMESTAMP},
      warenum = #{warenum,jdbcType=INTEGER},
      userid = #{user,jdbcType=VARCHAR,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler},
      wareid = #{ware,jdbcType=VARCHAR,typeHandler=jrd.graduationproject.shoppingplatform.config.jdbc.DefaultTypeHandler}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>