<!DOCTYPE html>
<html style="height:100%;overflow-x:hidden;overflow-y:hidden">

	<head>
		<meta charset="UTF-8" />
		<title>任意购</title>
		<script type="text/javascript" th:src="@{/js/bower_components/jquery/dist/jquery.min.js}"></script>
	</head>

	<body style="height:100%;width:100% ;padding:0;margin:0;border:0">
		<div style="height:100%;width:15%;float:left;">
			<iframe id="naviframe" th:src="@{/system/leftnav.html}" name="left" scrolling="no" style="padding:0;border:0;height:100%;width:200px;">
            </iframe>
		</div>
		<div style="height:100%;width:85%;float:left;">
			<iframe name="middle" th:src="@{/system/commodity/show.action}" style="height:100%;padding:0;border:0;width:1150px">
            </iframe>
		</div>
	</body>

</html>