<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<title></title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/common.css}" />

		<link rel="stylesheet" data-th-href="@{/css/style.css}" />
		<link rel="stylesheet" data-th-href="@{/css/swiper.min.css}" />
		<link rel="stylesheet" th:href="@{/js/bower_components/bootstrap/dist/css/bootstrap.min.css}" />
		<script data-th-src="@{/js/jquery-3.1.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var shopcarid = /*[[${shopcarparam}]]*/ '';
			/*]]>*/
		</script>
		<script>
			/*<![CDATA[*/
			$(function() {
				$(".addrli").on('click', function() {
					$(this).addClass("addrids");
					$(this).siblings(".addrli").removeClass("addrids");
					$(this).children("div").children(" .addr").addClass("selected");
					$(this).siblings(".addrli").children("div").children(" .addr").removeClass("selected");
				});
				
				$(".settlement").on('click', function() {

					var addrid = $(".addrids").attr('value');
					
					$.ajax({
						type: "post",
						url: "/user/order/add.ajax",
						dataType: "json",
						
						data: "addrid=" + addrid + "&shopcarid=" + shopcarid,
						
						success: function(data, textStatus, jqXHR) {
							$("#orderId").text(data.id);
                            $("#outprice").text(data.price);
                            $('#ticketModal').modal('show');
						},
						error: function(XMLHttpRequest, textStatus, errorThrown) {

							alert(XMLHttpRequest.responseText);
						}

					});
				});
				$("#buy").on("click",function(){
					$("#porderidi").val($("#orderId").text());
					$("#ticketModal").modal('hide');
					$("#paly").modal('show');
				});
				$("#palybu").on('click', function() {
					var pwd = $("#palypwd").val();

					var orderid = $("#porderidi").val();
					$.ajax({
						type: "post",
						url: "/user/order/defrayOrder.ajax",
						data: "pwd=" + pwd + "&orderid=" + orderid,
						success: function(data, textStatus, jqXHR) {
							if(!data)
								alert("密码错误！")
							else {
								alert("支付成功,再去看看其他商品>>>");
								$("#paly").modal('hide');
								window.location.href = "/";
							}
						},
						error: function(XMLHttpRequest, textStatus, errorThrown) {
							alert(XMLHttpRequest.responseText);
						}

					});
				});
			});
			/*]]>*/
		</script>
		<style type="text/css">
			.checkout-steps {
				background-color: #fff;
				padding: 0 20px;
				border: 1px solid #f0f0f0;
			}
			
			li {
				list-style: none;
			}
			
			table {
				width: 970px;
			}
			
			td th {
				padding: 10px;
				margin: 10px;
				text-align: center;
			}
		</style>
	</head>

	<body>
		<div class="bg">
			<div class="header bc-e3e4e5 vc">
				<div class="m0a" style="width: 80%;">
					<a href="" class="c-f10215 ftr" data-th-if="${User == null }" th:href="@{/public/welcome.html}">
						免费注册
					</a>
					<a href="" class="mr10 ftr c-999" th:href="${User == null}?@{/public/welcome.html}:@{/user/userinfo.html}" th:text="${User != null}? '你好,'+${User.username}:'你好,请登录'">
						你好，请登录
					</a>
				</div>
				<div>
					<a href="" class="mr10 ftr c-999"  th:href="@{/}" style="margin-right: 10px; font-size: 18px;">
						首页
					</a>
				</div>
			</div>
			<div class="container m0a ptb20 b-b-b1191a">
				<img style="float: left;" th:src="@{/img/logo.png}" alt="" class="img-w200" />
				<div style="float: left;color: black;font-size: 28px;">结算页</div>
			</div>

			<div class="container m0a ptb10 mt10 bc-f2f2f2 b-b-b1191a" style="font-size: 0;">
				<span class="f14 c-fff bc-b1191a comment p10" style="color: black;font-size: 28px;">填写并核对订单信息</span>
			</div>

			<div class="container m0a ptb10 mt10 mb50">
				<div class="checkout-steps">
					<div class="step-tit" style="display: block;width: 950px;height: 40px;">
						<h3 style="float: left">收货人信息</h3 >
						<a  style="float: right;padding-top: 20px;"  data-toggle="modal" data-target="#myModal-zc">新增收货地址</a>
					</div>
					<div class="step-cont" >
						<ul id="consignee-list">
							<li style="display: block; margin:10px 0px;" class="addrli" data-th-unless="${#sets.isEmpty(addrs)}" data-th-each="addr,ai:${addrs}" data-th-value="${addr.id}" data-th-class="${ai.index}==0?'addrli addrids':'addrli'">
								<div class="addr-detail" style="padding-left: 40px; font-size: 14px;">
									<span data-th-class="${ai.index}==0?'addr selected':'addr'" data-th-text="${addr.addressee}">季睿东</span>
									<span data-th-class="${ai.index}==0?'addr selected':'addr'" class="addr-info selected" data-th-text="${addr.wareaddr}">湖南 益阳市 赫山区 龙岭工业园湖南省益阳市赫山区湖南城市学院</span>
									<span data-th-class="${ai.index}==0?'addr selected':'addr'" class="addr-tel selected" data-th-text="${addr.phone}">155****4691</span>
									<span style="float: right;">
									   <a style="color: black;" data-toggle="modal" data-th-attr="data-target='#addr'+${ai.index}">编辑</a>
								    </span>
								    <!-- 模态框（Modal）ch -->
										<div class="modal fade" data-th-attr="id='addr'+${ai.index}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-ch" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<form class="form-horizontal" role="form" method="get" data-th-action="@{/user/address/alter.action}">
														<input type="hidden" name="id" data-th-value="${addr.id}"/>
														<input type="hidden" name="shopcarid" data-th-value="${shopcarparam}"/>
														<div class="modal-header">
															<!-- 关闭按钮 -->
															<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
															<h4 class="modal-title" id="myModalLabel-ch">
												                  |修改收货地址
												            </h4>
														</div>
								
														<div class="modal-body">
															<!-- 水平表单 -->
								
															<div class="form-group">
																<label for="zcname" class="col-md-3 control-label">收件人：</label>
																<div class="col-md-9">
																	<input type="text" class="form-control" id="chname" name="addressee" placeholder="请输入收件人" data-th-value="${addr.addressee}"/>
																</div>
															</div><br/>
															<div class="form-group">
																<label for="password-ch" class="col-md-3 control-label">地址：</label>
																<div class="col-md-9">
																	<input type="text" class="form-control" id="password-ch" name="wareaddr" placeholder="请输入地址" data-th-value="${addr.wareaddr}"/>
																</div>
															</div><br/>
															<div class="form-group">
																<label for="pwdcheck" class="col-md-3 control-label">邮政编号：</label>
																<div class="col-md-9">
																	<input type="text" class="form-control" id="pwdcheck" name="zipcode"  placeholder="请输入编号" data-th-value="${addr.zipcode}"/>
																</div>
															</div><br/>
															<div class="form-group">
																<label class="col-md-3 control-label">联系方式：</label>
																<div class="col-md-9">
																	<input type="text" class="form-control" id="email" name="phone" placeholder="请输入联系方式，必填" data-th-value="${addr.phone}"/>
																</div>
															</div><br/>
								
														</div>
														<div class="modal-footer">
															<input type="submit" class="btn btn-default" value="保存"></input>
															<button type="button" class="btn btn-primary" data-dismiss="modal" id="chclose">关闭</button>
														</div>
													</form>
												</div>
												<!-- /.modal-content -->
											</div>
											<!-- /.modal -->
										</div>
								</div>
								
							</li>

						</ul>
					</div>
				</div>
				<div class="checkout-steps" style="margin-top: 20px;">
					<div class="step-tit">
						<h3>支付方式</h3>
					</div>
					<div class="step-cont">
						<ul id="consignee-list">
							<li style="padding-left: 110px;">
								<span class="selected">账户余额
							</span></li>
						</ul>
					</div>
				</div>

				<div class="checkout-steps" style="margin-top: 20px;">
					<div class="step-tit">
						<h3>送货清单</h3>
					</div>
					<div class="step-cont">
						<!--商品-->
						<table data-th-unless="${#lists.isEmpty(shopcars)}">
							<tr style="width: 100%;" data-th-each="shpcar,si:${shopcars}">
								<td style="width: 60%;">
									<div data-th-Object="${shpcar.ware}" style="width: 400px;">
										<img src="img/slide3.jpg" class="img-wh40 br20" data-th-src="*{photo}" style="width: 80px;height: 80px;" />
										<span data-th-text="*{name}+*{ware}">绿***罪</span>
									</div>
								</td>
								<td style="width: 20%;" data-th-text="${shpcar.warenum}+'件'"></td>
								<td style="width: 5%;" class="tdprices" data-th-text="'¥'+(${#numbers.formatDecimal((shpcar.ware.price*shpcar.warenum),1,2)})"></td>
							</tr>
						</table>
						<div data-th-unless="${#lists.isEmpty(shopcars)}">
							<a href="javascript::void(0)" style="float: right;display: inline-block; width: 96px;height: 40px; background-color: red;text-align: center;padding-top: 16px;color: white;" class="settlement">提交定单</a>
							<span data-th-text="${money}!=null?'¥'+(${#numbers.formatDecimal(money,1,2)}):'¥ 0'" class="allprice" style="color: red; font-size: 18px;float: right;" data-th-value="${money}!=null?${#numbers.formatDecimal(money,1,2)}:0"></span>
							<span style="float: right;">总价：</span>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- 模态框（Modal）zc -->
		<div class="modal fade" id="myModal-zc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-zc" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<form class="form-horizontal" role="form" method="get" data-th-action="@{/user/address/add.action}">
						<input type="hidden" name="shopcarid" data-th-value="${shopcarparam}" />
						<div class="modal-header">
							<!-- 关闭按钮 -->
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel-zc">
				                  |添加收货地址
				            </h4>
						</div>

						<div class="modal-body">
							<!-- 水平表单 -->

							<div class="form-group">
								<label for="zcname" class="col-md-3 control-label">收件人：</label>
								<div class="col-md-9">
									<input type="text" class="form-control" id="zcname" name="addressee" placeholder="请输入收件人" />
								</div>
							</div><br/>
							<div class="form-group">
								<label for="password-zc" class="col-md-3 control-label">地址：</label>
								<div class="col-md-9">
									<input type="text" class="form-control" id="password-zc" name="wareaddr" placeholder="请输入地址" />
								</div>
							</div><br/>
							<div class="form-group">
								<label for="pwdcheck" class="col-md-3 control-label">邮政编号：</label>
								<div class="col-md-9">
									<input type="text" class="form-control" id="pwdcheck" name="zipcode" placeholder="请输入编号" />
								</div>
							</div><br/>
							<div class="form-group">
								<label class="col-md-3 control-label">联系方式：</label>
								<div class="col-md-9">
									<input type="text" class="form-control" id="email" name="phone" placeholder="请输入联系方式，必填" />
								</div>
							</div><br/>

						</div>
						<div class="modal-footer">
							<input type="submit" class="btn btn-default" value="保存"></input>
							<button type="button" class="btn btn-primary" data-dismiss="modal" id="zcclose">关闭</button>
						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!-- 订单提交  模态框（Modal） -->
		<div class="modal fade" id="ticketModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title">订单提交</h4>
					</div>
					<div class="modal-body">
						<div class="">
							<span class="mr20">订单号:</span><span class="" id='orderId'></span>
						</div>
						
						<div class="">
							<span class="mr20">订单总额:</span><span class="" id='outprice'>90</span>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" id='buy'>立即支付</button>
					    <button type="button" class="btn btn-primary" data-dismiss="modal" id="zcclose">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		<!-- 模态框（Modal）dlu -->
		<div class="modal fade" id="paly" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<!-- 关闭按钮 -->
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                 &times;
                            </button>
						<h4 class="modal-title">
                                                                支付
                            </h4>
					</div>
					<div class="modal-body">
						<input type="hidden" id="porderidi" />
						<div class="form-group">
							<label for="username" class="col-md-3 control-label">支付密码：</label>
							<div class="col-md-9">
								<input type="password" id="palypwd" class="form-control" placeholder="请输入支付密码" />
							</div>
						</div><br/>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" id="palybu">支付</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" id="dluclose">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!-- Swiper JS -->
		<script data-th-src="@{/js/swiper.min.js}"></script>

		<!-- Initialize Swiper -->
		<script>
			var swiper = new Swiper('.swiper-container', {
				pagination: '.swiper-pagination',
				nextButton: '.swiper-button-next',
				prevButton: '.swiper-button-prev',
				paginationClickable: true,
				spaceBetween: 30,
				centeredSlides: true,
				autoplay: 8000,
				loop: true,
				autoplayDisableOnInteraction: false
			});
		</script>

	</body>

</html>