<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<title>个人中心</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/common.css}" />
		<link rel="stylesheet" th:href="@{/css/unit.css}" />
		<link rel="stylesheet" th:href="@{/css/widget.css}" />
		<link rel="stylesheet" th:href="@{/css/ordercenter.css}" />

		<link rel="stylesheet" data-th-href="@{/css/style.css}" />

		<script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
		<!--  JQuery文件 -->
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/My97DatePicker/WdatePicker.js}"></script>
		<script type="application/javascript">
			/*<![CDATA[*/
			$(function() {
				$(".ordertime-cont").on("mouseover", function() {
					$(this).addClass("ordertime-hover");
				});
				$(".ordertime-cont").on("mouseout", function() {
					$(this).removeClass("ordertime-hover");
				});
				$(".deal-state-cont").on("mouseover", function() {
					$(this).addClass("deal-state-hover");
				});
				$(".deal-state-cont").on("mouseout", function() {
					$(this).removeClass("deal-state-hover");
				});
				$(".consigneeshow").on("mouseover", function() {
					$(this).children(".promptshow").css({ display: "block" })
				});
				$(".consigneeshow").on("mouseout", function() {
					$(this).children(".promptshow").css({ display: "none" });
				});

				$("#lpw").on("click", function() {
					$("#pwtype").val("1");
					$("#rsetpass").modal('show');
				});
				$("#ppw").on("click", function() {
					$("#pwtype").val("2");
					$("#rsetpass").modal('show');
				});
				$("#savepw").on("click", function() {
					var type = $("#pwtype").val();
					var oldpw = $("#oldpw").val();
					var newpw = $("#newpw").val();

					var spw = $("#spw").val();
					if(!oldpw) {
						alert("原密码不能为空");
						return;
					}
					if(!newpw) {
						alert("新密码不能为空");
						return;
					}
					if(!spw) {
						alert("确认密码不能为空");
						return;
					}
					if(spw != newpw) {
						alert("俩次密码不一致");
						return;
					}
					$.ajax({
						type: "post",
						url: "/user/updatePW.ajax",
						data: "type=" + type + "&oldpw=" + oldpw + "&newpw=" + newpw,
						success: function(data, textStatus, jqXHR) {
							alert(data);
						},
						error: function(XMLHttpRequest, textStatus, errorThrown) {

							alert(XMLHttpRequest.responseText);
						}

					});

				});

				$(".btnssagain").on('click', function() {
					var type = $(this).attr('type');
					var orderid = $(this).parent().attr('orderid');
					if(type == "1") {
						$("#porderidi").val(orderid);
						$("#paly").modal('show');
						return;
					}
					if(type == "2") {
						$("#orderidi").val(orderid);
						$("#comment").modal('show');
						return;
					}

					$.ajax({
						type: "post",
						url: "/user/order/option.ajax",
						data: "type=" + type + "&orderid=" + orderid,
						success: function(data, textStatus, jqXHR) {
							alert("订单：" + data.id + ",已操作成功！");
							window.location.href = "/user/userinfo.html";
						},
						error: function(XMLHttpRequest, textStatus, errorThrown) {

							alert(XMLHttpRequest.responseText);
						}

					});
				});
				$(".search-btn").on('click', function() {
					var orderid = $("#ip_keyword").val();
					window.location.href = "/user/querybyid.action?orderid=" + orderid;
				});

				$("#palybu").on('click', function() {
					var pwd = $("#palypwd").val();

					var orderid = $("#porderidi").val();
					$.ajax({
						type: "post",
						url: "/user/order/defrayOrder.ajax",
						data: "pwd=" + pwd + "&orderid=" + orderid,
						success: function(data, textStatus, jqXHR) {
							if(!data)
								alert("密码错误！")
							else {
								alert("支付成功");
								$("#paly").modal('hide');
								window.location.href = "/user/userinfo.html";
							}
						},
						error: function(XMLHttpRequest, textStatus, errorThrown) {
							alert(XMLHttpRequest.responseText);
						}

					});
				});

				$("#saveCom").on('click', function() {
					var txt = $("#ctxt").val();

					var orderid = $("#orderidi").val();
					$.ajax({
						type: "post",
						url: "/user/order/comment.ajax",
						data: "txt=" + txt + "&orderid=" + orderid,
						success: function(data, textStatus, jqXHR) {

							alert(data);
							$("#comment").modal('hide');
							window.location.href = "/user/userinfo.html";
						},
						error: function(XMLHttpRequest, textStatus, errorThrown) {

							alert(XMLHttpRequest.responseText);
						}

					});
				});
			});
			/*]]>*/
		</script>
		<style type="text/css">
			.consigneeshow .prompt-02 {
				position: absolute;
				z-index: 1;
				width: 300px;
				right: 52%;
				padding: 15px 20px;
				display: none;
				color: #666;
				line-height: 22px;
			}
		</style>
	</head>

	<body>
		<div class="bg" style="width: 100%;">
			<div class="header bc-e3e4e5 vc">

				<div class="m0a" style="width: 80%;">
					<a class="mr10 ftr c-999" th:href="@{/user/apply.controller(type=2)}">申请管理员权限</a>
					<a href="" class="mr10 ftr c-999" data-toggle="modal" data-target="#myModal-dlu"> 申请商家入驻</a>
				</div>
				<div>
					<a class="mr10 ftr c-999" th:href="@{/home/logout.action}"><img th:src="@{/images/manage/out.png}" /></a>
					<a href="" class="mr10 ftr c-999" th:href="@{/user/userinfo.html}" style="margin-right: 10px; font-size: 18px;">
						刷新
					</a>
					<a href="" class="mr10 ftr c-999" th:href="@{/}" style="margin-right: 10px; font-size: 18px;">
						首页
					</a>
				</div>
			</div>
			<div class="container m0a pt20" style="width: 100%;">
				<div id="user-info" class="user-info">
					<div class="info-lcol">
						<div class="u-pic" clstag="homepage|keycount|home2013|Hometxlogo">
							<img alt="用户头像" data-th-src="@{${User.photo}}" style="width: 100px;height: 100px;" />
							<a id="accountImg" href="javascript::void(0)">
								<div class="mask"></div>
							</a>
						</div>
						<div class="info-m">
							<div class="u-name" clstag="homepage|keycount|home2013|Homeinname">
								<a data-th-text="${User.username}">jrd丶听风</a>
							</div>
						</div>
					</div>
					<div class="info-rcol">
						<div class="user-counts">
							<ul>
								<li>
									<div class="count-item">
										<a target="_self" clstag="homepage|keycount|home2013|Homedfkk" data-th-href="@{/user/queryorder.action(type=1,querydate=${querydate})}">
											<i class="count-icon count-icon01"></i> 待付款
											<em id="waitPay" data-th-text="${UNPAID}">0</em>
										</a>
									</div>
								</li>
								<li>
									<div class="count-item">
										<a target="_self" clstag="homepage|keycount|home2013|Homedsh" data-th-href="@{/user/queryorder.action(type=2,querydate=${querydate})}">
											<i class="count-icon count-icon02"></i> 待收货
											<em id="waitReceive" data-th-text="${PAYMENT}">0</em>
										</a>
									</div>
								</li>
								<li>
									<div class="count-item">
										<a clstag="homepage|keycount|home2013|Homedpj" data-th-href="@{/user/queryorder.action(type=3,querydate=${querydate})}">
											<i class="count-icon count-icon04"></i> 待评价
											<em id="productCount" data-th-text="${COMMENT}">0</em>
										</a>
									</div>
								</li>
							</ul>
						</div>

						<div class="acco-info">
							<ul>
								<li class="fore1">
									<div class="acco-item">
										<div>
											<label>真实姓名：</label>
											<a clstag="homepage|keycount|home2013|Hometopye" data-th-text="${User.realname}">0.00</a>
										</div>
										<div>
											<label>余额：</label>
											<a clstag="homepage|keycount|home2013|Hometopye" data-th-text="${#numbers.formatDecimal(User.account,1,2)}">0.00</a>
										</div>
										<div>
											<label></label>
											<a href="javascript::void(0)" clstag="homepage|keycount|home2013|Hometopye" id="lpw">更改账号密码</a>
										</div>
										<div>
											<label></label>
											<a href="javascript::void(0)" clstag="homepage|keycount|home2013|Hometopye" id="ppw">更改支付密码</a>
										</div>
									</div>
								</li>
								<li class="fore1">
									<div class="acco-item">
										<div>
											<label>年龄：</label>
											<a clstag="homepage|keycount|home2013|Hometopye" data-th-text="${User.age}">0.00</a>
										</div>
										<div>
											<label>生日：</label>
											<a clstag="homepage|keycount|home2013|Hometopye" data-th-text="${User.birth}!=null?${#dates.format(User.birth, 'dd-MM/yyyy')}:''">0.00</a>
										</div>

										<div>
											<label>性别：</label>
											<a clstag="homepage|keycount|home2013|Hometopye" data-th-text="${User.sex}">0.00</a>
										</div>
									</div>
								</li>
								<li class="fore1">
									<div class="acco-item">
										<div>
											<label>邮箱：</label>
											<a clstag="homepage|keycount|home2013|Hometopye" data-th-text="${User.email}">0.00</a>
										</div>
										<div>
											<label>联系方式：</label>
											<a clstag="homepage|keycount|home2013|Hometopye" data-th-text="${User.phone}">0.00</a>
										</div>
										<div>
											<label></label>
											<a clstag="homepage|keycount|home2013|Hometopye" data-toggle="modal" data-target="#myModal-zc">更改用户信息</a>
										</div>
									</div>
								</li>
							</ul>
						</div>

					</div>
				</div>
				<div class="mod-main mod-comm lefta-box" id="order02">
					<div class="mt">
						<ul class="extra-l">
							<li class="fore1">
								<a data-th-class="${type}==0?curr:''" data-th-href="@{/user/userinfo.html}">全部订单</a>
							</li>
							<li>
								<a data-th-class="${type}==1?curr:''" clstag="click|keycount|orderinfo|waitPay" class="txt" data-th-href="@{/user/queryorder.action(type=1,querydate=${querydate})}">待付款</a>
							</li>
							<li>
								<a data-th-class="${type}==2?curr:''" clstag="click|keycount|orderinfo|waitReceive" class="txt" data-th-href="@{/user/queryorder.action(type=2,querydate=${querydate})}">待收货</a>
							</li>
							<li>
								<a data-th-class="${type}==3?curr:''" class="txt" clstag="click|keycount|orderinfo|daipingjia" data-th-href="@{/user/queryorder.action(type=3,querydate=${querydate})}">待评价</a>
							</li>
						</ul>
						<div class="extra-r">
							<div class="search">
								<input id="ip_keyword" type="text" class="itxt" value="订单号" style="color: rgb(204, 204, 204);" />
								<a href="javascript::void(0);" class="search-btn" clstag="click|keycount|orderinfo|search">搜索<b></b></a>
							</div>
						</div>
					</div>

					<div class="mc">

						<table class="td-void order-tb">
							<colgroup>
								<col class="number-col" />
								<col class="consignee-col" />
								<col class="amount-col" />
								<col class="status-col" />
								<col class="operate-col" />
							</colgroup>
							<thead>
								<tr>
									<th>
										<div class="ordertime-cont">
											<div class="time-txt"><span data-th-text="${sd}">近三个月订单</span><b></b><span class="blank"></span></div>
											<div class="time-list">
												<ul>
													<li>
														<a data-th-href="@{/user/queryorder.action(type=${type},querydate=3)}" _val="1&amp;s=4096" clstag="click|keycount|orderlist|zuijinsangeyue"><b></b>近三个月订单</a>
													</li>
													<li>
														<a data-th-href="@{/user/queryorder.action(type=${type},querydate=6)}" _val="1&amp;s=4096" clstag="click|keycount|orderlist|zuijinsangeyue"><b></b>近半年订单</a>
													</li>
													<li>
														<a data-th-href="@{/user/queryorder.action(type=${type},querydate=12)}" _val="1&amp;s=4096" clstag="click|keycount|orderlist|zuijinsangeyue"><b></b>近一年订单</a>
													</li>
													<li>
														<a data-th-href="@{/user/queryorder.action(type=${type},querydate=36)}" _val="1&amp;s=4096" clstag="click|keycount|orderlist|zuijinsangeyue"><b></b>近三年订单</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="order-detail-txt ac">订单详情</div>
									</th>
									<th>收货人</th>
									<th>金额</th>
									<th>
										<div class="deal-state-cont" id="orderState">
											<div class="state-txt"><span data-th-text="${ss}">全部状态</span><b></b><span class="blank"></span></div>
											<div class="state-list">
												<ul>
													<li value="4096">
														<a data-th-href="@{/user/queryorder.action(type=0,querydate=${querydate})}" clstag="click|keycount|orderlist|quanbuzhuangtai" data-th-class="${type}==0?curr:''"><b></b>全部状态</a>
													</li>
													<li value="1">
														<a data-th-href="@{/user/queryorder.action(type=1,querydate=${querydate})}" clstag="click|keycount|orderlist|dengdaifukuan" data-th-class="${type}==1?curr:''"><b></b>等待付款</a>
													</li>
													<li value="128" clstag="click|keycount|orderlist|dengdaishouhuo">
														<a data-th-href="@{/user/queryorder.action(type=2,querydate=${querydate})}" data-th-class="${type}==2?curr:''"><b></b>等待收货</a>
													</li>
													<li value="1024">
														<a data-th-href="@{/user/queryorder.action(type=4,querydate=${querydate})}" clstag="click|keycount|orderlist|yiwancheng" data-th-class="${type}==4?curr:''"><b></b>已完成</a>
													</li>
													<li value="-1">
														<a data-th-href="@{/user/queryorder.action(type=5,querydate=${querydate})}" clstag="click|keycount|orderlist|yiquxiao" data-th-class="${type}==5?curr:''"><b></b>已取消</a>
													</li>
												</ul>
											</div>
										</div>
									</th>
									<th>操作</th>
								</tr>

							</thead>

							<tbody data-th-unless="${#lists.isEmpty(orders)}" data-th-each="order,oi:${orders}">
								<tr class="sep-row">
									<td colspan="5"></td>
								</tr>

								<tr class="tr-th">
									<td colspan="5">
										<span class="gap"></span>
										<span class="dealtime" data-th-attr="title=${#dates.format(order.createdate, 'yyyy-MM-dd hh:mm:ss')}" data-th-text="${#dates.format(order.createdate, 'yyyy-MM-dd hh:mm:ss')}">2017-04-12 21:32:30</span>
										<input type="hidden" id="datasubmit-51113538321" data-th-value="${#dates.format(order.createdate, 'yyyy-MM-dd hh:mm:ss')}" />

										<span class="number" style="width: 300px;">
               		                	订单号：
                	                	<a name="orderIdLinks" data-th-attr="id=${order.id}" data-th-text="${order.id}" clstag="click|keycount|orderinfo|order_num">51113538321</a>
                    
                                        
                    					
	                	                
	                           			                </span>

									</td>
								</tr>

								<tr class="tr-bd" oty="0,4,70" data-th-unless="${#sets.isEmpty(order.orderdetails)}" data-th-each="orderdetail,odi:${order.orderdetails}" data-th-attr="id=${orderdetail.id}">
									<td data-th-Object="${orderdetail.ware}" style="width: 600px;">
										<div class="goods-item p-3046724">
											<div class="p-img">
												<a data-th-href="@{/public/pay.action(wareid=*{id})}" clstag="click|keycount|orderinfo|order_product" target="_blank">
													<img class="" data-th-src="*{photo}" data-th-title="*{name}+*{ware}" data-lazy-img="done" width="60" height="60" />

												</a>
											</div>
											<div class="p-msg">
												<div class="p-name">
													<a data-th-href="@{/public/pay.action(wareid=*{id})}" data-th-title="*{name}+*{ware}" data-th-text="*{name}+*{ware}" class="a-link" clstag="click|keycount|orderinfo|order_product" target="_blank" title="荣耀 V8 4GB+32GB 铂光金 移动联通4G手机 双卡双待双通">荣耀 V8 4GB+32GB 铂光金 移动联通4G手机 双卡双待双通</a>
												</div>

											</div>
										</div>
										<div class="goods-number" data-th-text="'x'+${orderdetail.warenum}" style="margin-left: 200px;">
											x1
										</div>
									</td>

									<td rowspan="2" data-th-if="${odi.index==0}" data-th-attr="rowspan=${odi.size}">
										<div class="consigneeshow" data-th-Object="${order.wareaddr}">
											<span class="txt" data-th-text="*{addressee}">季睿东</span><b></b>
											<div class="prompt-01 prompt-02 promptshow" style="display: none;">
												<div class="pc">
													<strong data-th-text="*{addressee}">季睿东</strong>
													<p data-th-text="*{wareaddr}">湖南益阳市赫山区龙岭工业园湖南省益阳市赫山区湖南城市学院</p>
													<p data-th-text="*{phone}">155****4691</p>
												</div>
												<div class="p-arrow p-arrow-left"></div>
											</div>
										</div>
									</td>
									<td rowspan="2" data-th-if="${odi.index==0}" data-th-attr="rowspan=${odi.size}">
										<div class="amount">
											总额 ¥<span data-th-text="${#numbers.formatDecimal(order.price,3,2)}">1999.00</span> <br/>
											<span class="ftx-13">余额支付</span>
										</div>
									</td>
									<td rowspan="2" data-th-if="${odi.index==0}" data-th-attr="rowspan=${odi.size}">
										<div class="status">
											<span class="order-status ftx-03" data-th-text="${order.status.desc}"></span>
										</div>
									</td>
									<td rowspan="2" data-th-if="${odi.index==0}" data-th-attr="rowspan=${odi.size}">
										<div class="operate" data-th-attr="orderid=${order.id}">

											<a href="javascript::void(0)" data-th-if="${order.status.index==0}" type="0" class="btnssagain btn-again btn-again-show" clstag="click|keycount|orderlist|buy"><b></b> 取消
											</a><br data-th-if="${order.status.index==0}" />
											<a href="javascript::void(0)" data-th-if="${order.status.index==0}" type="1" class="btnssagain btn-again btn-again-show" clstag="click|keycount|orderlist|buy"><b></b> 支付
											</a><br data-th-if="${order.status.index==0}" />
											<a href="javascript::void(0)" data-th-if="${order.type=='2'}" type="2" class="btnssagain btn-again btn-again-show" clstag="click|keycount|orderlist|buy"><b></b> 评价
											</a><br data-th-if="${order.type==2}" />
											<a href="javascript::void(0)" data-th-if="${order.status.index==1}" type="3" class="btnssagain btn-again btn-again-show" clstag="click|keycount|orderlist|buy"><b></b> 退单
											</a><br data-th-if="${order.status.index==1}" />

										</div>
									</td>
								</tr>

							</tbody>
						</table>

						<ul class="pagination" style="float: right;" data-th-if="${page!=null}" data-th-unless="${page.totalPages==0}" th:object="${page}">
							<!-- 上一页 -->
							<li class="page-item" data-th-classappend="*{first} ? 'disabled' : ''">
								<a th:href="*{first} ? 'javascript:void(0)':@{/user/queryorder.action(type=${type},querydate=${querydate},pagenum=${page.number})}" class="page-link" aria-label="Previous">
									<span aria-hidden="true">«</span>
								</a>
							</li>

							<!-- 迭代生成页码 -->
							<li class="page-item" data-th-each="i : ${#numbers.sequence(1, page.totalPages)}" data-th-classappend="${(page.number + 1) eq i} ? 'active' : ''">
								<a class="page-link" th:href="${(page.number + 1) eq i} ?'javascript:void(0)':@{/user/queryorder.action(type=${type},querydate=${querydate},pagenum=${i})}" th:if="${i}-${page.number}+4 > 0">
									<span data-th-text="${i}"></span>
								</a>
							</li>

							<!-- 下一页 -->
							<li class="page-item" data-th-classappend="*{last} ? 'disabled' : ''">
								<a th:href="*{last} ? 'javascript:void(0)':@{/user/queryorder.action(type=${type},querydate=${querydate},pagenum=${page.number}+2)}" class="page-link" aria-label="Next">
									<span aria-hidden="true">»</span>
								</a>
							</li>
						</ul>

					</div>
				</div>
			</div>
		</div>

		<!-- 模态框（Modal）dlu -->
		<div class="modal fade" id="myModal-dlu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-dlu" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<form data-th-action="@{/user/apply.controller(type=1)}" method="post" enctype="multipart/form-data">
						<div class="modal-header">
							<!-- 关闭按钮 -->
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                 &times;
                            </button>
							<h4 class="modal-title" id="myModalLabel-dlu">
                                                               申请商家入驻
                            </h4>
						</div>
						<div class="modal-body">

							<div class="form-group">
								<label for="username" class="col-md-3 control-label">商家名：</label>
								<div class="col-md-9">
									<input type="text" name="sname" class="form-control" id="username" placeholder="请输入商家名" />
								</div>
							</div><br/>
							<div class="form-group">
								<label for="password-dlu" class="col-md-3 control-label">商标：</label>
								<div class="col-md-9">
									<input type="file" name="file" class="form-control" id="password-dlu" placeholder="请输入商标" />
								</div>
							</div><br/>

						</div>
						<div class="modal-footer">
							<input type="submit" class="btn btn-default" value="申请"></input>
							<button type="button" class="btn btn-primary" data-dismiss="modal" id="dluclose">关闭</button>
						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!-- 模态框（Modal）zc -->
		<div class="modal fade" id="myModal-zc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-zc" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<!-- 关闭按钮 -->
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel-zc">
                  |更改基本信息
                </h4>
					</div>
					<form class="form-horizontal" role="form" method="post" data-th-action="@{/user/baseInfo/alter.action}">
						<div class="modal-body">
							<!-- 水平表单 -->

							<div class="form-group">
								<label for="zcname" class="col-md-3 control-label">用户名：</label>
								<div class="col-md-9">
									<input type="text" class="form-control" name="username" placeholder="请输入注册用户名" data-th-value="${User.username}" />
								</div>
							</div><br/>
							<div class="form-group">
								<label for="password-zc" class="col-md-3 control-label">真实姓名：</label>
								<div class="col-md-9">
									<input type="text" class="form-control" name="realname" placeholder="请输入真实姓名" data-th-value="${User.realname}" />
								</div>
							</div><br/>
							<div class="form-group">
								<label for="pwdcheck" class="col-md-3 control-label">出生年月：</label>
								<div class="col-md-9">
									<input class="Wdate" style="width: 314px;height:32px; border-color: rgb(221, 221, 221);" type="text" name="birth" placeholder="点击选择" readonly="readonly" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd',width:'314'})" data-th-value="${User.birth}!=null?${#dates.format(User.birth, 'yyyy-MM-dd')}:''" />
								</div>
							</div><br/>
							<div class="form-group">
								<label for="pwdcheck" class="col-md-3 control-label">性别：</label>
								<div class="col-md-9">
									<input type="radio" name="sex" value="MAN" data-th-checked="${User.sex}==${MAN}">男</input>&nbsp;&nbsp;&nbsp;&nbsp;
									<input type="radio" name="sex" value="WOMEN" data-th-checked="${User.sex}==${WOMEN}">女</input>
								</div>
							</div><br/>
							<div class="form-group">
								<label class="col-md-3 control-label">邮箱：</label>
								<div class="col-md-9">
									<input type="text" class="form-control" name="email" placeholder="请输入邮箱" data-th-value="${User.email}" />
								</div>
							</div><br/>
							<div class="form-group">
								<label class="col-md-3 control-label">电话号码：</label>
								<div class="col-md-9">
									<input type="text" class="form-control" name="phone" placeholder="请输入电话号码" data-th-value="${User.phone}" />
								</div>
							</div><br/>

						</div>
						<div class="modal-footer">
							<input type="submit" class="btn btn-default" value="保存信息"></input>
							<button type="button" class="btn btn-primary" data-dismiss="modal" id="zcclose">关闭</button>
						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!-- 模态框（Modal）dlu -->
		<div class="modal fade" id="rsetpass" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<input type="hidden" value="1" id="pwtype" />
					<div class="modal-header">
						<!-- 关闭按钮 -->
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                 &times;
                            </button>
						<h4 class="modal-title">
                                                             修改密码
                            </h4>
					</div>
					<div class="modal-body">

						<div class="form-group">
							<label for="username" class="col-md-3 control-label">原密码：</label>
							<div class="col-md-9">
								<input type="password" id="oldpw" class="form-control" placeholder="请输入原密码" />
							</div>
						</div><br/>
						<div class="form-group">
							<label for="username" class="col-md-3 control-label">新密码：</label>
							<div class="col-md-9">
								<input type="password" id="newpw" class="form-control" placeholder="请输入新密码" />
							</div>
						</div><br/>
						<div class="form-group">
							<label for="username" class="col-md-3 control-label">确认密码：</label>
							<div class="col-md-9">
								<input type="password" id="spw" class="form-control" placeholder="请再一次输入新密码" />
							</div>
						</div><br/>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" id="savepw">保存</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" id="dluclose">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!-- 模态框（Modal）dlu -->
		<div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<!-- 关闭按钮 -->
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                 &times;
                            </button>
						<h4 class="modal-title">
                                                                发表评论
                            </h4>
					</div>
					<div class="modal-body">
						<input type="hidden" id="orderidi" />
						<div class="form-group">
							<label for="username" class="col-md-3 control-label">留言：</label>
							<div class="col-md-9">
								<textarea id="ctxt" class="form-control" placeholder="请输入留言" />
							</div>
						</div><br/>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" id="saveCom">保存</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" id="dluclose">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!-- 模态框（Modal）dlu -->
		<div class="modal fade" id="paly" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<!-- 关闭按钮 -->
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                 &times;
                            </button>
						<h4 class="modal-title">
                                                                支付
                            </h4>
					</div>
					<div class="modal-body">
						<input type="hidden" id="porderidi" />
						<div class="form-group">
							<label for="username" class="col-md-3 control-label">支付密码：</label>
							<div class="col-md-9">
								<input type="password" id="palypwd" class="form-control" placeholder="请输入支付密码" />
							</div>
						</div><br/>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" id="palybu">支付</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" id="dluclose">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
	</body>

</html>