<!DOCTYPE html >
<html>

	<head>
		<meta charset="utf-8" />

		<link rel="stylesheet" th:href="@{/js/bower_components/bootstrap/dist/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/js/bower_components/sidr/dist/stylesheets/jquery.sidr.dark.min.css}" />
		<link rel="stylesheet" th:href="@{/css/style2.css}" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		<link rel="stylesheet" th:href="@{/js/jquery-layer/skin/layer.css}" />
		<link rel="stylesheet" th:href="@{/css/unit.css}" />
		<link rel="stylesheet" th:href="@{/css/ordercenter.css}" />

		<script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bower_components/jquery/dist/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery-layer/layer.js}"></script>
		<script type="text/javascript" th:src="@{/js/My97DatePicker/WdatePicker.js}"></script>
		<script type="text/javascript">
			
			$(function(){
				$(".consigneeshow").on("mouseover", function() {
					$(this).children(".promptshow").css({ display: "block" })
				});
				$(".consigneeshow").on("mouseout", function() {
					$(this).children(".promptshow").css({ display: "none" });
				});
			});
		</script>
		<style type="text/css">
			.mao-content {
				margin: 0 0;
				margin-top: 20px;
				padding: 20px 40px;
			}
			.consigneeshow .prompt-02 {
				position: absolute;
				z-index: 1;
				width: 300px;
				right: 40%;
				padding: 15px 20px;
				display: none;
				color: #666;
				line-height: 22px;
			}
		</style>
	</head>

	<body>
		<!-- begin -->
		<div class="container-fluid" style="margin-top: 0px;">
			<div class="row-fluid">
				<div class="container">
					<div class="h_nav" th:include="shop/navigate :: top"></div>
					<div class="mao-content" style="display:block;">
						<ul class="nav nav-tabs s_tab">
							<li class="headnav selected" style="cursor: pointer">
								<a>订单</a>
							</li>
						</ul>
						<div id="custom-toolbar" class="container">
							<div class="serch_ttl">搜索条件</div>
							<form class="form-horizontal" id="searchform" data-th-action="@{/shop/order/query.action}">
								<div class="row">
									<div class="col-md-6">
										<span style="width:80px;margin-left:8px;">订单号:</span>
										<input style="width: 314px;" type="text" name="id" placeholder="订单号" data-th-value="${orderid}"/>
									</div>
									<div class="col-md-6">
										<span style="width:80px;margin-left:8px;">订单状态：</span>
										<select id="" name="querytype" style="width: 314px;">
											<option data-th-selected="${querytype}==null">全部状态</option>
											<option value="1" data-th-selected="${querytype}=='1'">已支付</option>
											<option value="3" data-th-selected="${querytype}=='3'">退单</option>
											<option value="0" data-th-selected="${querytype}=='0'">未支付</option>
											<option value="2" data-th-selected="${querytype}=='2'">已送达</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6" style="margin-top: 10px;">
										<span style="width:80px;margin-left:8px;">下单起始时间:</span>
										<input data-th-value="${startdate}!=null?${#dates.format(startdate, 'yyyy-MM-dd')}:''" class="Wdate" style="width: 314px;height:32px; border-color: rgb(221, 221, 221);" type="text" name="startdate" placeholder="点击选择" readonly="readonly" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd',width:'314'})" />
									</div>
									<div class="col-md-6" style="margin-top: 10px;">
										<span style="width:80px;margin-left:8px;">下单结束时间:</span>
										<input data-th-value="${enddate}!=null?${#dates.format(enddate, 'yyyy-MM-dd')}:''" class="Wdate" style="width: 314px;height:32px; border-color: rgb(221, 221, 221);" type="text" name="enddate" placeholder="点击选择" readonly="readonly" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd',width:'314'})" />
									</div>
								</div>
								<div style="margin-top: 40px;margin-bottom: 40px;">
									<input value="搜索" type="submit" data-loading-text="正在搜索..." class="btn btn_blue" autocomplete="off" />
								</div>
							</form>
						</div>
						<div style="margin-top: 20px;min-height:1000px;" data-th-unless="${#lists.isEmpty(orders)}">
							<div class="serch_ttl">订单列表</div>
							<div class="mod-main mod-comm lefta-box" id="order02">
								<div class="mc">

									<table class="td-void order-tb">
										<colgroup>
											<col class="number-col" />
											<col class="consignee-col" />
											<col class="amount-col" />
											<col class="status-col" />
											<col class="operate-col" />
										</colgroup>
										<thead>
											<tr>
												<th>
													<div class="order-detail-txt ac">订单详情</div>
												</th>
												<th>收货人</th>
												<th>金额</th>
												<th>
													<div class="deal-state-cont" id="orderState">
														<div class="state-txt">状态</div>
														
													</div>
												</th>
												<th>操作</th>
											</tr>

										</thead>

										<tbody data-th-unless="${#lists.isEmpty(orders)}" data-th-each="order,oi:${orders}">
											<tr class="sep-row">
												<td colspan="5"></td>
											</tr>

											<tr class="tr-th">
												<td colspan="5">
													<span class="gap"></span>
													<span class="dealtime" data-th-attr="title=${#dates.format(order.createdate, 'yyyy-MM-dd hh:mm:ss')}" data-th-text="${#dates.format(order.createdate, 'yyyy-MM-dd hh:mm:ss')}">2017-04-12 21:32:30</span>
													<input type="hidden" id="datasubmit-51113538321" data-th-value="${#dates.format(order.createdate, 'yyyy-MM-dd hh:mm:ss')}" />

													<span class="number" style="width: 300px;">
               		                	订单号：
                	                	<a name="orderIdLinks" data-th-attr="id=${order.id}" data-th-text="${order.id}" clstag="click|keycount|orderinfo|order_num">51113538321</a>
                    
                                        
                    					
	                	                
	                           			                </span>

												</td>
											</tr>

											<tr class="tr-bd" oty="0,4,70" data-th-unless="${#sets.isEmpty(order.orderdetails)}" data-th-each="orderdetail,odi:${order.orderdetails}" data-th-attr="id=${orderdetail.id}">
												<td data-th-Object="${orderdetail.ware}" style="width: 600px;">
													<div class="goods-item p-3046724">
														<div class="p-img">
															<a data-th-href="@{/public/pay.action(wareid=*{id})}" clstag="click|keycount|orderinfo|order_product" target="_blank">
																<img class="" data-th-src="*{photo}" data-th-title="*{name}+*{ware}" data-lazy-img="done" width="60" height="60" />

															</a>
														</div>
														<div class="p-msg">
															<div class="p-name">
																<a data-th-href="@{/public/pay.action(wareid=*{id})}" data-th-title="*{name}+*{ware}" data-th-text="*{name}+*{ware}" class="a-link" clstag="click|keycount|orderinfo|order_product" target="_blank" title="荣耀 V8 4GB+32GB 铂光金 移动联通4G手机 双卡双待双通">荣耀 V8 4GB+32GB 铂光金 移动联通4G手机 双卡双待双通</a>
															</div>

														</div>
													</div>
													<div class="goods-number" data-th-text="'x'+${orderdetail.warenum}" style="margin-left: 200px;">
														x1
													</div>
												</td>

												<td rowspan="2" data-th-if="${odi.index==0}" data-th-attr="rowspan=${odi.size}">
													<div class="consigneeshow" data-th-Object="${order.wareaddr}">
														<span class="txt" data-th-text="*{addressee}">季睿东</span><b></b>
														<div class="prompt-01 prompt-02 promptshow" style="display: none;">
															<div class="pc">
																<strong data-th-text="*{addressee}">季睿东</strong>
																<p data-th-text="*{wareaddr}">湖南益阳市赫山区龙岭工业园湖南省益阳市赫山区湖南城市学院</p>
																<p data-th-text="*{phone}">155****4691</p>
															</div>
															<div class="p-arrow p-arrow-left"></div>
														</div>
													</div>
												</td>
												<td rowspan="2" data-th-if="${odi.index==0}" data-th-attr="rowspan=${odi.size}">
													<div class="amount">
														总额 ¥<span data-th-text="${#numbers.formatDecimal(order.price,3,2)}">1999.00</span> <br/>
														<span class="ftx-13">余额支付</span>
													</div>
												</td>
												<td rowspan="2" data-th-if="${odi.index==0}" data-th-attr="rowspan=${odi.size}">
													<div class="status">
														<span style="background-color: white;" class="order-status ftx-03" data-th-text="${order.status.desc}"></span>
													</div>
												</td>
												<td rowspan="2" data-th-if="${odi.index==0}" data-th-attr="rowspan=${odi.size}">
													<div class="operate" data-th-attr="orderid=${order.id}">

														<a data-th-if="${order.status.index==1&amp;&amp;order.type=='1'}" data-th-href="@{/shop/order/songda.action(orderid=${order.id})}"  type="0" class="btnssagain btn-again btn-again-show" clstag="click|keycount|orderlist|buy"><b></b> 送达
														</a>

													</div>
												</td>
											</tr>

										</tbody>
									</table>

									<ul class="pagination" style="float: right;" data-th-if="${page!=null}" data-th-unless="${page.totalPages==0}" th:object="${page}">
										<!-- 上一页 -->
										<li class="page-item" data-th-classappend="*{first} ? 'disabled' : ''">
											<a th:href="*{first} ? 'javascript:void(0)':@{/shop/order/query.action(querytype=${querytype},startdate=${startdate},enddate=${enddate},pagenum=${page.number})}" class="page-link" aria-label="Previous">
												<span aria-hidden="true">«</span>
											</a>
										</li>

										<!-- 迭代生成页码 -->
										<li class="page-item" data-th-each="i : ${#numbers.sequence(1, page.totalPages)}" data-th-classappend="${(page.number + 1) eq i} ? 'active' : ''">
											<a class="page-link" th:href="${(page.number + 1) eq i} ?'javascript:void(0)':@{/shop/order/query.action(querytype=${querytype},startdate=${startdate},enddate=${enddate},pagenum=${i})}" th:if="${i}-${page.number}+4 > 0">
												<span data-th-text="${i}"></span>
											</a>
										</li>

										<!-- 下一页 -->
										<li class="page-item" data-th-classappend="*{last} ? 'disabled' : ''">
											<a th:href="*{last} ? 'javascript:void(0)':@{/shop/order/query.action(querytype=${querytype},startdate=${startdate},enddate=${enddate},pagenum=${page.number}+2)}" class="page-link" aria-label="Next">
												<span aria-hidden="true">»</span>
											</a>
										</li>
									</ul>

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>