<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>主页</title>
<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
</head>
<body>
	<table th:if="!${users.empty}">
		<caption>用户表</caption>
		<tr>
			<td>姓名</td>
			<td>年龄</td>
			<td>邮箱</td>
			<td>性别</td>
			<td>创建时间</td>
			<td>更改时间</td>
		</tr>
		<tr th:each="user : ${users}">
			<td th:text="${user.name}"></td>
			<td th:text="${user.age}"></td>
			<td th:text="${user.email}"></td>
			<td th:text="${user.sex}"></td>
			<td
				th:text="${#dates.format(user.createdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
			<td
				th:text="${#dates.format(user.updatedate, 'yyyy-MM-dd HH:mm:ss')}"></td>
		</tr>
	</table>
</body>
</body>
</html>